/* ----------------------
Animation de la page d'accueil
---------------------------------*/

.animation div {
    transform: translateX(2000px);
    animation: anim-entete 1s both cubic-bezier(0,1.08,1,1.17);
}

.principal h3 {
    transform: translateX(-500px);
    opacity: 0;
    animation: anim-princip 1s both ease;
}

@keyframes anim-entete {
    0% {transform: translateX(2000px);}
    100% {transform: translateX(0);}
}

@keyframes anim-princip {
    0% {transform: translateX(-500px); opacity: 0;}
    100% {transform: translateX(0px); opacity: 100;}
}

/*
.animation div:nth-of-type(1){
    animation-delay: 1s;
}
.animation div:nth-of-type(2){
    animation-delay: 1.5s;
}
.animation div:nth-of-type(3){
    animation-delay: 2s;
}
.animation div:nth-of-type(4){
    animation-delay: 2.5s;
}
.animation div:nth-of-type(5){
    animation-delay: 3s;
}
*/

$columns: 5;

@for $i from 1 through $columns {
    .animation div:nth-of-type(#{$i}) {
       // width: (100% / $i);
        animation-delay: .5*$i#{s};
    }
}

$columns2: 2;

@for $k from 1 through $columns2 {
    .principal h3:nth-of-type(#{$k}) {
        animation-delay: 1*$k#{s};
    }
}

.annonce1 {
    background-color: #efebc5;
    animation: anim-annonce1 3s both ease;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes anim-annonce1 {
    0% {background-color: #efebc5;}
    100% {background-color: #c4bc7c;}
}