* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    // background-color: rgb(179, 179, 204);
    background-color: $blanc;

}


body::after {
    content: "";
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    //background-color: rgb(43, 71, 233);
    //background-color: couleur(primaire);
    background-color: $noir;
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 25%;
    z-index: -1;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .8rem;
}

h6 {
    font-size: .7rem;
}

p {
    font-size: .6rem;
}

.bloc {
    border: 1px solid #666;
    background-color: transparent;
    color: grey;
    font-size: 3rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bloc img {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    margin-right: 15px;
}

.grille {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "entete entete entete"
        "menu menu menu"
        "annonce1 annonce1 annonce1"
        "principal principal principal"
        "pied-page pied-page pied-page";

    @include desktop {
        grid-template-areas:
            "entete entete entete"
            "menu menu menu"
            "annonce1 annonce1 principal"
            "pied-page pied-page pied-page";
    }
}

.entete {
    grid-area: entete;

}

.menu {
    grid-area: menu;
}

.annonce1 {
    grid-area: annonce1;
}

.annonce2 {
    grid-area: annonce2;
}

.principal {
    grid-area: principal;
}

.pied-page {
    grid-area: pied-page;
}

.entete {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 75%;
    border: none;

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: lightgrey;
            margin-top: 30px;
                @include mobile {
                    display: none;
                }
        }

        div:hover {
            color: lightgrey;
            background-color: grey;
        }
    }
}

.annonce1 {
    background-color: #efebc5;
    color: #5e6e81;
    border-radius: 10px;
    box-shadow: 7px 3px 11px 4px #757472;
    padding: 42px;
    margin: 20px;

    div {
        font-size: .4em;
        display: flex;
        align-items: center;
    }
}

.menu {
    border: none;
}

.annonce2 {
    padding: 42px;
    margin: 20px;
    background-color: #efebc5;
    color: #1c2127;

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    opacity: 50%;
    color: black;
    height: 100%;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);

    h3 {
        padding: 1rem 0 1rem 0;
        color: black;
    }
}

.pied-page {
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.pied-page:hover {
    color: lightgrey;
}