$couleur_desktop: grey;
$couleurs : (
    primaire : $couleur_desktop,
    text: grey,
    primaire_pale : darken($couleur_desktop, 100%)
    );
$noir: black;
$blanc: white;

@function couleur($propriete){
    @return map-get($couleurs, $propriete);
}


